{% extends 'layout.html.twig' %}

{% block page_title %}Twttr | Home{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3 mt-5" id="twtts">
    {% for twtt in twtts %}
    <div class="media p-4">
        {% if twtt.pp_url is not empty %}
            <img src="{{ twtt.pp_url }}" alt="PP-Pro" class="align-self-start twtt-thumbnail mr-3 ml-3">
        {% else %}
            <img src="../assets/pp/default_pp.png" alt="PP-Pro" class="align-self-start twtt-thumbnail mr-3 ml-3">
        {% endif %}
        <div class="media-body">
            <h5 class="mt-0">{{ twtt.author_name }}</h5>
            <p>{{ twtt.content }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
