{% extends 'layout.html.twig' %}

{% block assets %}
<script src="/assets/js/actions.js"></script>
<script src="/assets/js/twtt.js"></script>
{% endblock %}
{% block page_title %}Twttr | Home{% endblock %}

{% block content %}
<div class="container d-flex">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table class="table col-md-6 mt-5" id="twtts">
            {% include 'twtts.html.twig' %}
        </table>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
