<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block page_title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <main>
    <div class="container-fluid" id="header">
      <div class="row align-items-center">
        <div class="col-md-5 text-center">
          {% if user.name is defined %}
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-round-lg pl-3 pr-3" data-toggle="modal" data-target="#exampleModalCenter">
            New Twtt
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <form action="/newTwtt" method="POST">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">New Twtt</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  <div class="media">
                  {% if user.pp_url is not empty %}
                    <img src="{{ user.pp_url }}" alt="PP-Pro" class="align-self-start twtt-thumbnail mr-3 ml-3">
                  {% else %}
                    <img src="../assets/pp/default_pp.png" alt="PP-Pro" class="align-self-start twtt-thumbnail mr-3 ml-3">
                  {% endif %}
                    <div class="media-body">
                      <textarea class="form-control" name="twtt-content" placeholder="What's up" rows="5"></textarea>
                    </div>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Tweet !</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="col-md-2 text-center">
          <a href="/"><img src="/assets/img/twttr.png" id="logo" alt="Twttr logo"></a>
        </div>
        <div class="col-md-2 offset-md-2 d-flex justify-content-around">
          {% if user.name is not defined %}
          <a href="/login" class="btn btn-light btn-round-lg">Connexion</a>
          <a href="/register" class="btn btn-primary btn-round-lg">Inscription</a>
          {% else %}
          <a href="/profile" class="btn btn-light btn-round-lg">{{ user.name }}</a>
          <a href="/logout" class="btn btn-primary btn-round-lg">Logout</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>
</body>
</html>
