<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="assets/style.css">
  </head>
  <body>

    {% block nav %}
      <a href="logout">logout</a>
       <a href="home">home</a>
        <a href="login">login</a>
         <a href="register">register</a>
         <a href="profile">profile</a>
    {% endblock %}
    {% if user_data.user is defined %}
      <h1>Hello, {{ user_data.user.name }}</h1>
    {% endif %}
    {% block content %}
    {% endblock %}
  </body>
</html>
