{% extends 'layout.html.twig' %}

{% block page_title %}Twttr | Login{% endblock %}

{% block content %}
<h1> LOGIN </h1>

<form method="post" name="login-form">
    <label>Email</label><br>
    <input type="email" name="email"><br><br>
    <label>Password</label><br>
    <input type="password" name="password"><br><br>
    <button type="submit" name="login-btn">Register</button>
</form>
{% endblock %}
