{% extends 'layout.html.twig' %}

{% block page_title %}Twttr | Profile{% endblock %}

{% block content %}
<h1> PROFILE </h1>

<form method="post" name="update-pic-form" enctype="multipart/form-data">
    <label>Choose a picture</label><br>
    <input type="file" name="pic"><br><br>
    <button type="submit" name="change-pic-btn">Change pic</button>
</form>
{% if user.name is defined %}
    {% block profile %}
        <h2>{{ user.name }}</h2>
        <h2>{{ user.email }}</h2>
        <h2>{{ user.birthdate }}</h2>
        {% if user.pp_url is not empty %}
            <img src="{{ user.pp_url }}">
        {% else %}
            <img src="../assets/pp/default_pp.png">
        {% endif %}
    {% endblock %}
{% endif %}
{% endblock %}
