{% extends 'layout.html.twig' %}

{% block page_title %}Twttr | Profile{% endblock %}

{% block content %}
<h1> PROFILE </h1>

<form method="post" name="update-pic-form">
    <label>Choose a picture</label><br>
    <input type="file" name="pic"><br><br>
    <button type="submit" name="login-btn">Register</button>
</form>
{% if user_data.user is defined %}
    {% block profile %}
        <h2>{{ user_data.user.name }}</h2>
        <h2>{{ user_data.user.email }}</h2>
        <h2>{{ user_data.user.birthdate }}</h2>
        {% if user_data.user.profile_pic_url is not empty %}
            <img src="{{ user_data.user.profile_pic_url }}">
        {% endif %}
    {% endblock %}
{% endif %}
{% endblock %}
